/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.875em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 79, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
html {
  font-family: "Source Sans Pro", sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 91, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 104, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 124, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 143, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 153, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 162, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 174, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 183, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 195, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 203, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 213, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
blockquote {
  margin: 1.875rem 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 222, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 231, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 32px;
  font-size: 2rem;
  line-height: 60px;
  line-height: 3.75rem;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* line 246, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* line 252, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h3 {
  font-size: 19px;
  font-size: 1.17rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* line 258, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* line 264, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h5 {
  font-size: 13px;
  font-size: 0.83rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* line 270, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
h6 {
  font-size: 11px;
  font-size: 0.67rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 282, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 293, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
p,
pre {
  margin: 1.875rem 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 303, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 311, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 319, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 323, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 335, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.875rem 0;
}

/* line 352, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 360, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 372, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 387, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 400, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 412, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
figure {
  margin: 1.875rem 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 421, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 430, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 438, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 462, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 476, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: "Source Sans Pro", sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 494, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 505, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 520, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 535, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 544, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 555, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 570, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 587, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 598, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 608, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 618, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 1px;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.59375rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  padding-bottom: 19px;
  padding-bottom: 1.15625rem;
  border-left-width: 1px;
  border-left-width: 0.0625rem;
  border-left-style: solid;
  padding-left: 18px;
  padding-left: 1.10938rem;
  border-right-width: 1px;
  border-right-width: 0.0625rem;
  border-right-style: solid;
  padding-right: 18px;
  padding-right: 1.10938rem;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 634, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 648, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 657, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 668, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 673, ../../../../../var/lib/gems/1.9.1/gems/normalize-scss-3.0.1/_normalize.scss */
td,
th {
  padding: 0;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/
/* line 7, ../sass/_railscasts.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
  -webkit-text-size-adjust: none;
}

/* line 16, ../sass/_railscasts.scss */
.hljs-comment,
.hljs-template_comment,
.hljs-javadoc,
.hljs-shebang {
  color: #bc9458;
  font-style: italic;
}

/* line 24, ../sass/_railscasts.scss */
.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title {
  color: #c26230;
}

/* line 34, ../sass/_railscasts.scss */
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.tex .hljs-command,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label {
  color: #a5c261;
}

/* line 49, ../sass/_railscasts.scss */
.hljs-subst {
  color: #519f50;
}

/* line 53, ../sass/_railscasts.scss */
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number {
  color: #e8bf6a;
}

/* line 63, ../sass/_railscasts.scss */
.hljs-identifier {
  color: #d0d0ff;
}

/* line 67, ../sass/_railscasts.scss */
.hljs-class .hljs-title,
.hljs-type,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-dartdoc {
  text-decoration: none;
}

/* line 77, ../sass/_railscasts.scss */
.hljs-constant {
  color: #da4939;
}

/* line 82, ../sass/_railscasts.scss */
.hljs-symbol,
.hljs-built_in,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-identifier,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url,
.hljs-attribute {
  color: #6d9cbe;
}

/* line 92, ../sass/_railscasts.scss */
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  text-decoration: underline;
}

/* line 99, ../sass/_railscasts.scss */
.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #d0d0ff;
}

/* line 105, ../sass/_railscasts.scss */
.css .hljs-tag,
.hljs-rules .hljs-property,
.hljs-pseudo,
.tex .hljs-special {
  color: #cda869;
}

/* line 112, ../sass/_railscasts.scss */
.css .hljs-class {
  color: #9b703f;
}

/* line 116, ../sass/_railscasts.scss */
.hljs-rules .hljs-keyword {
  color: #c5af75;
}

/* line 120, ../sass/_railscasts.scss */
.hljs-rules .hljs-value {
  color: #cf6a4c;
}

/* line 124, ../sass/_railscasts.scss */
.css .hljs-id {
  color: #8b98ab;
}

/* line 128, ../sass/_railscasts.scss */
.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

/* line 134, ../sass/_railscasts.scss */
.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #8996a8 !important;
}

/* line 140, ../sass/_railscasts.scss */
.hljs-hexcolor,
.css .hljs-value .hljs-number {
  color: #a5c261;
}

/* line 145, ../sass/_railscasts.scss */
.hljs-title,
.hljs-decorator,
.css .hljs-function {
  color: #ffc66d;
}

/* line 151, ../sass/_railscasts.scss */
.diff .hljs-header,
.hljs-chunk {
  background-color: #2f33ab;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

/* line 159, ../sass/_railscasts.scss */
.diff .hljs-change {
  background-color: #4a410d;
  color: #f8f8f8;
  display: inline-block;
  width: 100%;
}

/* line 166, ../sass/_railscasts.scss */
.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

/* line 173, ../sass/_railscasts.scss */
.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

/* line 180, ../sass/_railscasts.scss */
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.7;
}

/* line 1, ../sass/_base.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/_base.scss */
body {
  background-color: #FCFCFC;
  color: #383834;
  margin-bottom: 3.75rem;
}

/* line 12, ../sass/_base.scss */
.container-wide, .container-narrow {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
@media (min-width: 641px) {
  /* line 12, ../sass/_base.scss */
  .container-wide, .container-narrow {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

/* line 22, ../sass/_base.scss */
.container-wide {
  max-width: 1200px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container-wide:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 27, ../sass/_base.scss */
.container-narrow {
  max-width: 800px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container-narrow:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 32, ../sass/_base.scss */
blockquote {
  background-color: #efefef;
  padding: 1.875rem;
  margin-left: 0;
  margin-right: 0;
  border-left: 10px solid #D6321D;
}
@media (min-width: 641px) {
  /* line 32, ../sass/_base.scss */
  blockquote {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}

/* line 45, ../sass/_base.scss */
pre > code {
  font-family: 'Source Code Pro';
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 30px;
  line-height: 1.875rem;
}

/* line 1, ../sass/_header.scss */
.main-header {
  overflow: hidden;
  *zoom: 1;
  background-color: #D6321D;
}
/* line 5, ../sass/_header.scss */
.main-header h1.site-name {
  float: left;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 60px;
  line-height: 3.75rem;
  margin: 0;
  font-weight: bold;
}
/* line 11, ../sass/_header.scss */
.main-header h1.site-name > a {
  color: #FFA498;
  text-decoration: none;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
/* line 16, ../sass/_header.scss */
.main-header h1.site-name > a:hover {
  color: #FF7F6E;
}
/* line 22, ../sass/_header.scss */
.main-header a.mobile-button {
  display: block;
  float: right;
  width: 35px;
  margin: 21px 0;
}
@media (min-width: 641px) {
  /* line 22, ../sass/_header.scss */
  .main-header a.mobile-button {
    display: none;
  }
}
/* line 32, ../sass/_header.scss */
.main-header a.mobile-button > span {
  display: block;
  height: 2px;
  background-color: #FFA498;
}
/* line 37, ../sass/_header.scss */
.main-header a.mobile-button > span:nth-child(2) {
  margin: 6px 0;
}
/* line 43, ../sass/_header.scss */
.main-header .mobile-navigation {
  display: none;
  padding: 0.9375rem;
  background-color: #383834;
}
/* line 48, ../sass/_header.scss */
.main-header .mobile-navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 53, ../sass/_header.scss */
.main-header .mobile-navigation > ul > li {
  border-top: 1px solid #52524d;
}
/* line 56, ../sass/_header.scss */
.main-header .mobile-navigation > ul > li > a {
  display: block;
  text-decoration: none;
  padding: 4px 0 4px 0.9375rem;
  color: #fff;
}
/* line 63, ../sass/_header.scss */
.main-header .mobile-navigation > ul > li:nth-child(1) {
  border: none;
}
/* line 70, ../sass/_header.scss */
.main-header .primary-navigation {
  display: none;
  background-color: #FFF;
}
@media (min-width: 641px) {
  /* line 70, ../sass/_header.scss */
  .main-header .primary-navigation {
    display: block;
  }
}
/* line 78, ../sass/_header.scss */
.main-header .primary-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}
/* line 84, ../sass/_header.scss */
.main-header .primary-navigation ul > li {
  display: inline-block;
  padding-right: 0.46875rem;
  padding-left: 0.46875rem;
}
/* line 89, ../sass/_header.scss */
.main-header .primary-navigation ul > li > a {
  text-decoration: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 60px;
  line-height: 3.75rem;
  color: #6E6E67;
  font-weight: bold;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
/* line 96, ../sass/_header.scss */
.main-header .primary-navigation ul > li > a:hover {
  color: #D6321D;
}
/* line 104, ../sass/_header.scss */
.main-header .secondary-navigation {
  display: none;
  float: right;
}
@media (min-width: 641px) {
  /* line 104, ../sass/_header.scss */
  .main-header .secondary-navigation {
    display: block;
  }
}
/* line 112, ../sass/_header.scss */
.main-header .secondary-navigation > ul {
  margin: 0;
  list-style: none;
}
/* line 116, ../sass/_header.scss */
.main-header .secondary-navigation > ul > li {
  display: inline-block;
  margin-left: 0.9375rem;
}
/* line 120, ../sass/_header.scss */
.main-header .secondary-navigation > ul > li > a {
  color: #FFA498;
  font-size: 16px;
  font-size: 1rem;
  line-height: 60px;
  line-height: 3.75rem;
  text-decoration: none;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
  font-weight: bold;
}
/* line 127, ../sass/_header.scss */
.main-header .secondary-navigation > ul > li > a:hover {
  color: #FF7F6E;
}

/* line 1, ../sass/_main.scss */
.main-content {
  margin-top: 1.875rem;
}
@media (min-width: 641px) {
  /* line 1, ../sass/_main.scss */
  .main-content {
    margin-top: 3.75rem;
  }
}
/* line 8, ../sass/_main.scss */
.main-content .main-article {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
  line-height: 1.875rem;
  background-color: #FFF;
  box-shadow: 1px 1px 3px #999;
  padding: 0.9375rem;
  margin-bottom: 1.875rem;
}
@media (min-width: 641px) {
  /* line 8, ../sass/_main.scss */
  .main-content .main-article {
    padding: 1.875rem;
    margin-bottom: 3.75rem;
  }
}
/* line 21, ../sass/_main.scss */
.main-content .main-article .article-header .stats {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 30px;
  line-height: 1.875rem;
  color: #87877e;
}
/* line 25, ../sass/_main.scss */
.main-content .main-article .article-header .stats > a.tag {
  text-decoration: none;
  margin-left: 0.46875rem;
  color: #D6321D;
}
/* line 30, ../sass/_main.scss */
.main-content .main-article .article-header .stats > a.tag:hover {
  color: #87877e;
}
/* line 36, ../sass/_main.scss */
.main-content .main-article .article-header .article-title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 60px;
  line-height: 3.75rem;
}
/* line 39, ../sass/_main.scss */
.main-content .main-article .article-header .article-title > a {
  text-decoration: none;
  color: #383834;
}
/* line 43, ../sass/_main.scss */
.main-content .main-article .article-header .article-title > a:hover {
  color: #D6321D;
}
/* line 52, ../sass/_main.scss */
.main-content .pagination > ul {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 58, ../sass/_main.scss */
.main-content .pagination > ul > li {
  float: left;
  margin-right: 0.9375rem;
  margin-bottom: 0.9375rem;
}
/* line 63, ../sass/_main.scss */
.main-content .pagination > ul > li > a {
  display: block;
  text-decoration: none;
  background-color: #D6321D;
  text-align: center;
  color: #FFA498;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 45px;
  line-height: 2.8125rem;
  width: 2.8125rem;
}
/* line 73, ../sass/_main.scss */
.main-content .pagination > ul > li > a:hover {
  color: #FF7F6E;
}

/* line 1, ../sass/_footer.scss */
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
}
/* line 7, ../sass/_footer.scss */
.main-footer > ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: right;
}
/* line 13, ../sass/_footer.scss */
.main-footer > ul > li {
  display: inline-block;
  margin-left: 0.9375rem;
}
/* line 17, ../sass/_footer.scss */
.main-footer > ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 60px;
  line-height: 3.75rem;
  color: #D6321D;
}
/* line 22, ../sass/_footer.scss */
.main-footer > ul > li > a:hover {
  color: #87877e;
}
